<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passport App</title>
</head>
<body>

  {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}
  {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}

  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
  {{/if}}
  {{{body}}}
</body>
</html>